*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* Font chữ chung */
    font-family: 'Roboto', sans-serif;
    /* Hiệu ứng lăn chuột */
    scroll-behavior: smooth;
}

#header{
    /* Thiết kế chiều cao, background, cố định header */
    height: 46px;
    background-color: rgb(209, 213, 214);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav li{
    /* Hiện các đầu mục trên cùng 1 dòng */
    display: inline-block;
}

#nav li a{
    /* Chỉnh màu, kiểu dáng, chiều cao, khoảng cách các đầu mục */
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover a{
    /* Hiệu ứng khi hover vào các mục */
    color: white;
    background-color: black;
}

#content{
    /* Khoảng cách với header do header cố định */
    margin-top: 46px;
}

#content .content-section{
    /* Thiết lập chung cho khung của mỗi content */
    width: 800px;
    height: 450px;
    padding: 64px 0;
    /* Tự động căn chỉnh trái phải */
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    /* Thiết lập cho các Tiêu đề của mỗi content */
    /* Vị trí, cỡ chữ */
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    /* Khoảng cách của từng chữ tiêu đề */
    letter-spacing: 5px; 
}

#content .about{
    /* Thiết lập ảnh và chữ cùng 1 dòng */
    display: flex;
    /* Lề của ảnh và đoạn văn */
    margin: 25px 59px;
}

#content .about-text{
    /* Cỡ chữ, chiều cao dòng, kiểu dáng của đoạn văn */
    font-size: 15px;
    line-height: 2.5;
    text-align: justify;
}

#content .about-img{
    /* Kích thước ảnh, kiểu khung ảnh: bo góc */
    margin-right: 60px;
    width: 200px;
    border-radius: 10px;
}

#content .contact-section{
    /* Màu nền, màu chữ cho contact */
    background-color: rgb(209, 213, 214);
    color: black;
}
#content .contact{
    /* Kích cỡ chữ, khoảng cách lề */
    margin: 50px 200px 0;
    font-size: 15px;
    line-height: 2.5;
}

.contact a{
    /* Chỉnh sửa link facebook về màu và kiểu */
    color: black;
    text-decoration: none;
}

#content .contact i{
    /* lề của icon */
    margin-right: 10px;
}

#footer{
    /* Chiều cao của footer */
    height: 50px;
}

#footer p{
    /* Chữ trong footer: Kiểu, dáng */
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 30px;
}
